<div>
    <h1><%= @article.title %></h1>
    <small>Published <%= @article.created_at.strftime('%b %d, %Y') %></small>
    <p><% @article.categories.each do |category| %>
      <%= link_to category.name, category, { :class => "label"} %>&nbsp;
     <% end %>
  </p>
    <div><%= @article.content %></div>
  </div>
