<h1>Welcome!</h1>
<p class="lead">Here are some of the most recent articles.</p>

<div id="most_recent" class="widget">
<% @recent_articles.each do |article| %>
  <hr/>
  <p class="article">
    <h3><%= link_to article.title, article, { :class => "lead"} %></h3>
  <div class="summary"><%= Truncato.truncate(article.content, max_length: 100, count_tags: false).html_safe %></div>
  <small>Published on <%= article.created_at.strftime('%b %d, %Y') %></small>
  <div class="category"><% article.categories.each do |category| %>
    <%= link_to category.name, category, { :class => "label"} %>&nbsp;
                  <% end %>
  </div>
  </p>
<% end %>
</div>
