<div>
  <h1><%= "Articles Related to #{@category.name}" %></h1>
  <% @articles.each do |a| %>
    <p>
      <div> <strong><%= link_to a.title, a %></strong> </div>
      <div> <%= "#{a.content[0...100]}..." %> </div>
      <div> published: <%= a.created_at.strftime('%b %d, %Y') %> </div>
    </p>
  <% end %>

