<div>
  <h1><%= "Articles Related to #{@category.name}" %></h1>
  <% @articles.each do |a| %>
    <p>
      <div><%= link_to a.title, a, {:class => "lead"} %> </div>
      <div> <%= Truncato.truncate(a.content, max_length: 100, count_tags: false).html_safe %> </div>
      <small> published: <%= a.created_at.strftime('%b %d, %Y') %> </small>
    </p>
  <% end %>
  </div>
